body{
  background:rgb(242, 242, 197) none repeat scroll 0% 0% !important;
}
img, picture {
  border: 5px solid rgb(238, 226, 177) !important;
}

.fwyEXF {
  display: flex !important;
  padding-top: 5rem v;
  background: #d33 !important;
  margin: 0px !important;
  max-width: 100% !important;
  color: #fff !important;
}

.bBqkOH img, .bBqkOH picture {
  border: none !important;
}
.jtNIum {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}
.dnlpoE{
  margin-top: 0rem !important;
  margin-bottom: 5rem !important;
}
.kMVLIF{
  min-height:10rem !important;
}
.kMVLIF .hpDewQ {
  text-align: center !important;
  color: #d33 !important;
}
.ioXlqZ{
  display:none !important;
}
.fjuDUL {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
   background: rgb(166, 26, 26) none repeat scroll 0% 0% !important;
}

.bANdgI, .fnFgIZ, .gLeVnt{
   margin-top: 5rem !important;
}
.gLeVnt{
   padding-bottom: 5rem !important;
}
.fzEYXJ{
  margin-top:0px !important;
}
.cUnqIU > :not(:first-child) {
  margin-top: 5rem !important;
}
.cUnqIU > :last-child {
  padding-bottom: 5rem !important;
}

.bFCbdu > :not(:first-child) {
  margin-top: 5rem !important;
}
.next-light-theme {
  --background: none !important;
  --secondBackground: none !important;
}
.next-light-theme .idrxjM::before {
  background-color: rgb(221, 51, 51) !important;
}
.next-light-theme .bBqkOH {
  background: rgb(232, 232, 173) none repeat scroll 0% 0% !important;
}
.next-light-theme .idrxjM {
  line-height: 1.8 !important;
}

.next-light-theme .hspTTT, .next-light-theme .kuHjMB, .next-light-theme .jvMpbf, .next-light-theme .jvMpbf {
  font-size: 3.5rem !important;
  line-height: 1.8 !important;

}
.next-light-theme .cQBRZy{
   font-size: 3.5rem !important;
  line-height: 1.6 !important;
  margin-bottom:1em !important;
}
.next-light-theme .cQBRZy, .next-light-theme .hspTTT, .next-light-theme .kuHjMB, .next-light-theme .jvMpbf, .next-light-theme .jvMpbf {
  color: #dd3333;
}


.next-light-theme .hQvODp, .next-light-theme .coAmRA, .next-light-theme .jmpCRK {
  line-height: 1.8 !important;
  font-size: 1.4rem !important;
}
.next-light-theme .kuHjMB {
  margin-bottom: 1rem !important;
 
}
.kMVLIF{
  background: rgb(219, 219, 157) none repeat scroll 0% 0% !important;
}
.next-light-theme .jvMpbf{
  font-size: 2.5rem !important;
line-height: 1.6 !important;
}
.next-light-theme .jvMpbf{
  margin:0.5em 0
}

body {
  font-family: 'Noto Sans Tamil', Roboto, sans-serif !important;
}
