.idrxjM {
  line-height: 1.8 !important;
}

.hspTTT, .cQBRZy, .kuHjMB {
  font-size: 3.5rem !important;
  line-height: 1.8 !important;

}

.hQvODp, .coAmRA,.jmpCRK {
  line-height: 1.8 !important;
  font-size: 1.4rem !important;
}

.jvMpbf{
  margin:0.5em 0
}

body {
  font-family: 'Noto Sans Tamil', Roboto, sans-serif !important;
}
