body{
  background:rgb(242, 242, 197) none repeat scroll 0% 0% !important;
}
.next-light-theme {
  --background: none !important;
  --secondBackground: none !important;
}
.bBqkOH {
  background: rgb(232, 232, 173) none repeat scroll 0% 0% !important;
}
.idrxjM {
  line-height: 1.8 !important;
}

.hspTTT, .kuHjMB, .jvMpbf, .jvMpbf {
  font-size: 3.5rem !important;
  line-height: 1.8 !important;

}
.cQBRZy{
   font-size: 3.5rem !important;
  line-height: 1.6 !important;
  margin-bottom:1em !important;
}
.cQBRZy, .hspTTT, .kuHjMB, .jvMpbf, .jvMpbf {
  color: #dd3333;
}


.hQvODp, .coAmRA,.jmpCRK {
  line-height: 1.8 !important;
  font-size: 1.4rem !important;
}
.kuHjMB {
  margin-bottom: 1rem !important;
 
}

.jvMpbf{
  margin:0.5em 0
}

body {
  font-family: 'Noto Sans Tamil', Roboto, sans-serif !important;
}
